.container{
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 20px;
    font-family: cursive;
    align-items: center;
    height: 100vh;
}

img{
    width: 100%;
    height: 100vh;
}

@media(max-width: 700px){
    img{
        display: none;
    }
    .container{
        grid-template-columns: 100%;
        height: auto;
        align-items: center;
    }
        form {
            width: 100%;
            max-width: 350px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        button {
            align-self: center !important;
        }
}

button {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    width: 250px;
    height: 30px;
    align-self: flex-end;
}

input{
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

h1{
    font-weight: normal;
    margin-bottom: 50px;
    text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 0 auto;
  box-sizing: border-box;
}
