.container{
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 20px;
    font-family: cursive;
    align-items: center;
    height: 100vh;
}

img{
    width: 100%;
    height: 100vh;
}

@media(max-width: 700px){
    img{
        display: none;
    }
    .container{
        grid-template-columns: 100%;
        height: auto;
        align-items: center;
    } 
}

button {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    width: 250px;
    height: 30px;
}

input{
    width: 350px;
    height: 30px;
    margin-bottom: 20px;
    align-self: center;
}
h1{
    font-weight: normal;
    margin-bottom: 50px;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

